<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DonationSystem</display-name>
  <welcome-file-list>
    <welcome-file>UserLogin.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>org.res.controller.user.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStatusPage</display-name>
    <servlet-name>LoginStatusPage</servlet-name>
    <servlet-class>org.donation.view.LoginStatusPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStatusPage</servlet-name>
    <url-pattern>/LoginStatusPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpController</display-name>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>org.res.controller.user.UserSignUpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/UserSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpStatusPage</display-name>
    <servlet-name>SignUpStatusPage</servlet-name>
    <servlet-class>org.donation.view.SignUpStatusPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpStatusPage</servlet-name>
    <url-pattern>/SignUpStatusPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetNgoNameController</display-name>
    <servlet-name>SetNgoNameController</servlet-name>
    <servlet-class>org.res.controller.user.SetNgoNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetNgoNameController</servlet-name>
    <url-pattern>/SetNgoName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryOrInputController</display-name>
    <servlet-name>CategoryOrInputController</servlet-name>
    <servlet-class>org.res.controller.user.CategoryOrInputController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryOrInputController</servlet-name>
    <url-pattern>/CategoryOrInput</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationMethodController</display-name>
    <servlet-name>DonationMethodController</servlet-name>
    <servlet-class>org.res.controller.user.DonationMethodController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationMethodController</servlet-name>
    <url-pattern>/DonationMethod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryOrInputMenuController</display-name>
    <servlet-name>CategoryOrInputMenuController</servlet-name>
    <servlet-class>org.res.controller.user.CategoryOrInputMenuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryOrInputMenuController</servlet-name>
    <url-pattern>/CategoryOrInputMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DonationModeController</display-name>
    <servlet-name>DonationModeController</servlet-name>
    <servlet-class>org.res.controller.user.DonationModeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DonationModeController</servlet-name>
    <url-pattern>/DonationMode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>org.res.controller.admin.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNgoValueController</display-name>
    <servlet-name>GetNgoValueController</servlet-name>
    <servlet-class>org.res.controller.admin.GetNgoDonationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNgoValueController</servlet-name>
    <url-pattern>/GetNgoDonation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserDonationController</display-name>
    <servlet-name>GetUserDonationController</servlet-name>
    <servlet-class>org.res.controller.admin.GetUserDonationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserDonationController</servlet-name>
    <url-pattern>/GetUserDonation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrRemoveNgoController</display-name>
    <servlet-name>AddOrRemoveNgoController</servlet-name>
    <servlet-class>org.res.controller.admin.AddOrRemoveNgoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrRemoveNgoController</servlet-name>
    <url-pattern>/AddOrRemoveNgo</url-pattern>
  </servlet-mapping>
</web-app>