<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="mysession">
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">sunlife_1234</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=DonationSystem;</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<mapping class="org.res.model.entity.admin.AdminDetails" />
		<mapping class="org.res.model.entity.donation.DonationDetails" />
		<mapping class="org.res.model.entity.ngo.NgoDetails" />
		<mapping class="org.res.model.entity.user.UserDetails" />
	</session-factory>
</hibernate-configuration>
